<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation"class="active"><%=link_to"Home",root_path%></li>
    <li role="presentation"><%=link_to"About",about_path%></li>
    <li role="presentation"><%=link_to"Terms",terms_path%></li>
  </ul>

  <div class="jumbotron">
    <h1>belp!</h1>
    <p>A web application to help you find and rate breweries near you</p>
    <p><%=link_to"About",about_path,class:"btn btn-primary btn-lg",role:"botton"%></p>
  </div>









</div>
